@font-face {
    font-family: 'mission script';
    src: url('../assets/_fonts/Mission-Script-webfont.eot');
    src: url('../assets/_fonts/Mission-Script-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/_fonts/Mission-Script-webfont.woff2') format('woff2'),
    url('../assets/_fonts/Mission-Script-webfont.woff') format('woff'),
    url('../assets/_fonts/Mission-Script-webfont.ttf') format('truetype'),
    url('../assets/_fonts/Mission-Script-webfont.svg#mission_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('../assets/_fonts/Roboto-Regular-webfont.eot');
    src: url('../assets/_fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/_fonts/Roboto-Regular-webfont.woff2') format('woff2'),
    url('../assets/_fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../assets/_fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../assets/_fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}